<nav class="nav">
  <div class="container">
    <div class="logo">
        <a>Zanzibar</a>
    </div>
      <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
              <li><%= link_to "Add a Cocktail", new_cocktail_path %></li>
          </ul>
      </div>
      <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
      </span>
  </div>
</nav>

<section class="home">
</section>
<div class="container">
  <div class="cards-list">
      <% @cocktails.each do |cocktail| %>
      <div class="card 1">
        <div class="card_image"><%= cl_image_tag cocktail.photo.key, width: 353, height: 300, crop: :thumb %></div>
        <div class="card_title title-white">
          <p id="title_1"><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
        </div>
      </div>
      <% end %>
  </div>
</div>
<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>

